* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body {
  height: 100vh;
  /* background: url(images/calcbg.jpg) no-repeat center center/ cover; */
  background-color: rgb(67, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(101, 96, 96);
  /* border: 2px solid rgb(184, 181, 181); */
  padding: 20px;
  border-radius: 18px;
  width: 350px;
  height: 460px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px black;
}

#output {
    background-color: rgb(53, 50, 50); /* Set the background color to white */
    text-align: right;      /* Align the text to the right */
    padding: 15px;           /* Add some padding for spacing */
    font-size: 3rem;        /* Adjust the font size as needed */
    /* border: 2px solid black; Add a border for styling */
    margin-bottom: 15px;
    border-radius: 5px;
    height: 70px;
    font-family: inherit;
    color: #a19e9e;
    
  }
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 306px;
  position: relative;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 6px;
  margin-right: 5px;
  margin-left: 2px;
  font-weight: 900;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  border-color: transparent;
  background-color: rgb(59, 59, 56);
  box-shadow: 0 0 2px rgb(70, 69, 69);
}
.number,
.operator,
.bracket,
.equals,
.clear-input,
.clear {
  transition: transform 0.3s;
}

.number:hover,
.operator:hover,
.bracket:hover,
.equals:hover,
.clear-input:hover,
.clear:hover {
  transform: scale(0.94);
  
}

.operator {
  background-color: rgb(228, 80, 31);
}

.clear {
  background-color: rgb(92, 192, 141);
}

.equals {
  background-color: rgb(49, 106, 238);
  font-weight: bolder;
  font-size: 2.4rem;
}

.clear-input {
  background-color: rgb(209, 8, 28)
}

.zero {
  width: 130px;
  font-size: 2rem;
}
